<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Tray:</h2>
<ul>
  <% @menu_items.each do |item|%>
    <li><%= item['name'] %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_tray_path(@tray) %> |
<%= link_to 'Back', trays_path %>
