<ul class="menuitem">
  <% @menu_items["menu_items"].each do |menu_item| %>
    <li>
      <h2><%= menu_item["name"] %></h2>
      <p><%= menu_item["description"]%></p>
      <p>In stock: <%= menu_item["stock_level"]%></p>
      <div><%= button_to 'Order', remote: true %></div>
    </li>
  <% end %>
</ul>

