// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu_items {
  max-width: 80em;
  ul.menuitem {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 1em;
      margin: 5em;
      border: solid thin #666;
    }
  }
}
